<% if flash[:notice] %>
 <div class="flash">
  <%= flash[:notice] %>
 </div>
<% end %>
		
		
		<strong>Title:</strong>
		<%= @booker.title %>
	</p>
	<p>
		<strong>Body:</strong>
		<%= @booker.body %>
	</p>

	<%= link_to "Edit",edit_book_path(@booker) %>
	<span> | </span>
	<%= link_to "Back",books_path  %>
</div>
